html,
body {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  background: linear-gradient(180deg, #070A1B 0%, #2A3170 100%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section__title {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #F402A2;
  font-family: 'Corporate-A-Bold', sans-serif;
}